section {
	display: grid;
	grid-template-columns: 50px 50px 50px;
	grid-template-rows:  50px 50px 50px;
	width: 100%;
	aspect-ratio: 1;
}

section div {
	box-sizing: border-box;
	/* transition: background-color 200ms; */
}
