h1 {
	font-size: xx-large;
}

dt {
	font-weight: bold;
}

game-of-life {
	width: 200px;

	display: block;
}

game-of-life::part(cell) {
	transition: background-color 800ms;
}

game-of-life::part(living) {
	background-color: royalblue;
}

game-of-life::part(deceased) {
	background-color: #1c1c1c;
}
